/* stylesheet file for shared css styling  */

/* Resetting box spacing and font family */

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  font-family: "Trebuchet MS", Verdana, sans-serif; 
}

html, body, .wrapper, #app {
  height: 100%;
}

/* --- layouts --- */

.flex-row-sm{
  display:flex;
  flex-direction: row;
}

.flex-row, .flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.flex-center {
  justify-content: center;
}

.flex-space-between {
  justify-content: space-evenly;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

/* --- box --- */

.border-light-1{
  border: #ECF0F1 solid 1px;
}

.border-danger-1 {
  border: #E74C3C solid 1px;
}

.border-dark-1 {
  border: #2C3E50 solid 1px;
}

.border-primary-1 {
  border-right: #3498DB solid 1px;
}

.border-light-r-1{
  border-right: #ECF0F1 solid 1px;
}

.border-danger-r-1 {
  border-right: #E74C3C solid 1px;
}

.border-dark-r-1 {
  border-right: #2C3E50 solid 1px;
}

.border-primary-r-1 {
  border-right: #3498DB solid 1px;
}

.border-light-l-1{
  border-left: #ECF0F1 solid 1px;
}

.border-danger-l-1 {
  border-left: #E74C3C solid 1px;
}

.border-dark-l-1 {
  border-left: #2C3E50 solid 1px;
}

.border-primary-l-1 {
  border-left: #3498DB solid 1px;
}

.d-block {
  display: block !important;
}

.d-none{
  display: none !important;
}

.box-70vh {
  min-height: 70vh;
}

.box-75vh {
  min-height: 75vh;
}

.box-80vh {
  min-height: 80vh;
}

/* --- Padding & Margins --- */

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.p-0, .pt-0, .py-0 {
  padding-top: 0;
}

.p-0, .px-0, .pr-0 {
  padding-right: 0;
}

.p-0, .py-0, .pb-0 {
  padding-bottom: 0;
}

.p-0, .px-0, .pl-0 {
  padding-left: 0;
}

.p-1, .pt-1, .py-1 {
  padding-top: 0.5rem;
}

.p-1, .pr-1, .px-1 {
  padding-right: 0.5rem;
}

.p-1, .pb-1, .py-1 {
  padding-bottom: 0.5rem;
}

.p-1, .pl-1, .px-1 {
  padding-left: 0.5rem;
}

.p-2, .pt-2, .py-2 {
  padding-top: 0.75rem;
}

.p-2, .px-2, .pr-2 {
  padding-right: 0.75rem;
}

.p-2, .py-2, .pb-2 {
  padding-bottom: 0.75rem;
}

.p-2, .pl-2, .px-2 {
  padding-left: 0.75rem;
}

.p-3, .pt-3, .py-3 {
  padding-top: 1rem;
}

.p-3, .px-3, .pr-3 {
  padding-right: 1rem;
}

.p-3, .pb-3, .py-3 {
  padding-bottom: 1rem;
}

.p-3, .pl-3, .px-3 {
  padding-left: 1rem;
}

.p-4, .pt-4, .py-4 {
  padding-top: 1.5rem;
}

.p-4, .px-4, .pr-4 {
  padding-right: 1.5rem;
}

.p-4, .pb-4, .py-4 {
  padding-bottom: 1.5rem;
}

.p-4, .pl-4, .px-4 {
  padding-left: 1.5rem;
}

.p-5, .pt-5, .py-5 {
  padding-top: 3rem;
}

.p-5, .px-5, .pr-5 {
  padding-right: 3rem;
}

.p-5, .pb-5, .py-5 {
  padding-bottom: 3rem;
}

.p-5, .pl-5, .px-5 {
  padding-left: 3rem;
}

.m-1, .mt-1, .my-1 {
  margin-top: 0.5rem;
}

.m-1, .mr-1, .mx-1 {
  margin-right: 0.5rem;
}

.m-1, .mb-1, .my-1 {
  margin-bottom: 0.5rem;
}

.m-1, .ml-1, .mx-1 {
  margin-left: 0.5rem;
}

.m-2, .mt-2, .my-2 {
  margin-top: 0.75rem;
}

.m-2, .mx-2, .mr-2 {
  margin-right: 0.75rem;
}

.m-2, .my-2, .mb-2 {
  margin-bottom: 0.75rem;
}

.m-2, .ml-2, .mx-2 {
  margin-left: 0.75rem;
}

.m-3, .mt-3, .my-3 {
  margin-top: 1rem;
}

.m-3, .mx-3, .mr-3 {
  margin-right: 1rem;
}

.m-3, .mb-3, .my-3 {
  margin-bottom: 1rem;
}

.m-3, .ml-3, .mx-3 {
  margin-left: 1rem;
}

.m-4, .mt-4, .my-4 {
  margin-top: 1.5rem;
}

.m-4, .mx-4, .mr-4 {
  margin-right: 1.5rem;
}

.m-4, .mb-4, .my-4 {
  margin-bottom: 1.5rem;
}

.m-4, .ml-4, .mx-4 {
  margin-left: 1.5rem;
}

.m-5, .mt-5, .my-5 {
  margin-top: 3rem;
}

.m-5, .mx-5, .mr-5 {
  margin-right: 3rem;
}

.m-5, .mb-5, .my-5 {
  margin-bottom: 3rem;
}

.m-5, .ml-5, .mx-5 {
  margin-left: 3rem;
}

.m-6, .mt-6, .my-6 {
  margin-top: 5rem;
}

.m-6, .mx-6, .mr-6 {
  margin-right: 5rem;
}

.m-6, .mb-6, .my-6 {
  margin-bottom: 5rem;
}

.m-6, .ml-6, .mx-6 {
  margin-left: 5rem;
}

/* --- background themes --- */

.bg-light-theme {    
  background-color: #ECF0F1;
  color: #2C3E50;
}

.bg-dark-theme {
  background-color: #2C3E50;
  color: #ECF0F1;
}

.bg-primary-theme {
  background-color: #3498DB;
  color: #2C3E50;
}

/* --- Typography --- */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.face-100{
  font-weight: 100;
}

.face-300{
  font-weight: 300;
}

.face-900 {
  font-weight: 900;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1.5rem;
}

.font-lg {
  font-size: 2rem;
}

.font-xl {
  font-size: 3rem;
}

.light{
  color: #ECF0F1 !important;
}

.danger {
  color: #E74C3C !important;
}

.dark {
  color: #2C3E50 !important;
}

.primary {
  color: #3498DB !important;
}

.page-title{
  margin-bottom: 1rem;
}

.page-title::after{
  content: '';
  display: block;
  width: 3rem;
  height: 0.2rem;
  margin-top: 0.5rem;
}

.bg-dark-theme .page-title::after{
  background-color: #ECF0F1;
}

.bg-light-theme .page-title::after{
  background-color: #2C3E50;
}

.bg-primary-theme .page-title::after {
  background-color: #E74C3C;
}

/* --- form --- */

form {
  width: 90%;
}

.form-item, .form-item-file{
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 4px;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0.3s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

.form-item{
  border: solid 1px #2C3E50;
  transform: scaleY(1.1)
}

.form-item:focus, .form-item-file:focus, .form-item:hover, .form-item-file:hover{
  box-shadow: 0 0 1px #2980B9;
}

.button {
  border-style: none;
  background-color: #ECF0F1;
  border: 1px #2980B9 solid;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border-radius: 4px;
  color: #3498DB;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0.5s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1)
}

.button:hover{
  transform: scale(1.05);
  cursor: pointer;
  color: #ECF0F1;
  background-color: #3498DB;
}

.button-primary {
  background-color: #3498DB;
  color: #2C3E50;
}

.button-danger {
  background-color: #E74C3C;
  color: #ECF0F1;
  border-color: #2C3E50;
}

.button-danger:hover {
  background-color: rgba(231, 76, 60, 0.9);
  border-color: #ECF0F1;
}

.button-danger-outline {
  border-color: #E74C3C;
  color: #E74C3C;
}

.button-danger-outline:hover{
  color: #ECF0F1;
  background-color: #E74C3C;
}

/* --- nav --- */

a {
  text-decoration: none;
}

.top-nav-pad {
  margin-top: 70px;
  z-index: 1;
}


.top-nav {
  position: fixed;
  top: 0;
  border-bottom: 1px #ccc solid;
  width: 100%;
  padding: 0.3rem 0 0.3rem 2rem;
}

.nav {
  list-style-type: none;
  display: none;
}

.nav-stack li{
  border-bottom: solid 1px #E74C3C;
  margin-bottom: 0.5rem;
}

.nav-stack a {
  padding: 0.5rem 1rem;
  display: block;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0.5s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

.bg-dark-theme  a {
  color: #3498DB;
}

.bg-light-theme  a, .bg-primary-theme a {
  color: #2C3E50;
}

.nav-stack a:hover {
  background-color: #3498DB;
  color: #ECF0F1;
}

.nav-stack li:hover{
  border: 0;
  border-bottom: solid 1px #ECF0F1;
  margin-bottom: 0.5rem;
  box-shadow: 0 0 2px #2C3E50;
}

.toggle-navigation {
  display: none;
}

/*--- Card Styles --- */

.card {
  /* border: #3498DB 0px solid; */
  box-shadow: 1px 1px 5px #2980B9;
  padding: 0.5rem;
  margin-bottom: 2rem !important;
  border-radius: 4px;
}

.card-dark {
  background-color: #2C3E50;
  color: #ECF0F1;
}

.card-light {
  background-color: #ECF0F1;
  background-color: #FCFFF5;
  color: #2C3E50;
}

.card-primary {
  background-color: #3498DB;
  color: #2C3E50;
}

.card-row {
  display:flex;
  flex-direction: row;
}

.card-row .card-50{
  flex:1;
}

.card-row .card-body .card-text{
  min-height: 3rem;
}

.card-head img {
  height: 7rem;
}

.card-title{
  margin-bottom: 1rem;
}

.card-title::after{
  content: '';
  display: block;
  width: 3rem;
  height: 0.2rem;
  margin-top: 0.5rem;
}

.card-dark .card-title::after{
  background-color: #ECF0F1;
}

.card-light .card-title::after{
  background-color: #2C3E50;
}

.card-primary .card-title::after {
  background-color: #E74C3C;
}

.card-group-row-2{
  display: flex;
  flex-direction: column;
}

/* --- Modal --- */

.modal {
  display: none;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1001;
  width: 100%;
  margin-top: 5rem;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(52, 152, 219, 0.8);
}

.modal form {
  padding: 2.5rem;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px #2C3E50;
  border-radius: 4px;
}


/* --- Responsive Feature --- */

@media screen and (min-width: 768px) {
  .flex-row {
      display: flex;
      flex-direction: row;
  }

  .flex-row-reverse {
      display:flex;
      flex-direction: row;
  }

  .flex-col-50 {
      flex: 200px 1;
  }

  .border-light-r-lg-1{
      border-right: #ECF0F1 solid 1px;
  }
  
  .border-danger-r-lg-1 {
      border-right: #E74C3C solid 1px;
  }
  
  .border-dark-r-lg-1 {
      border-right: #2C3E50 solid 1px;
  }
  
  .border-primary-r-lg-1 {
      border-right: #3498DB solid 1px;
  }
  
  .border-light-l-lg-1{
      border-left: #ECF0F1 solid 1px;
  }
  
  .border-danger-l-lg-1 {
      border-left: #E74C3C solid 1px;
  }
  
  .border-dark-l-lg-1 {
      border-left: #2C3E50 solid 1px;
  }
  
  .border-primary-l-lg-1 {
      border-left: #3498DB solid 1px;
  }

  nav .toggler {
      display: none;
  }

  .nav.nav-stack{
      display: block !important;
  }

  .card-group-row-2{
      display: flex;
      flex-direction: row;
      flex: 50% 1;
      justify-content: space-around;
      flex-wrap: wrap;
  }



  .modal form {
      width: 50%;
  }

  .form-50{
      width: 50%;
  }
  
      
}

